@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/poppins-latin-regular.woff2') format('woff2');
 }  */

/* @import url('/fonts/poppins-v22-latin-regular.woff2');  */


 body {
  font-family: 'Poppins', sans-serif;
}

@layer components {
  .circle-btn {
    @apply w-10 h-10 rounded-full border border-pink 
           flex items-center justify-center text-pink 
           hover:bg-softbeige  transition;
  }
  .main-btn {
    @apply overflow-hidden before:z-0   before:rounded-t-xl  relative before:bg-white
     bg-pink before:inset-0 before:translate-y-full before:absolute before:transition-transform before:duration-300 before:ease-in-out hover:before:translate-y-0 
    text-white   duration-150 btn border border-pink  rounded-full 
           hover:text-pink;
  }
  .form-input {
    @apply w-full p-2 border border-gray-400 rounded-full  outline-none focus:border-none focus:ring-1 focus:ring-gray-500;
  }
  .form-label{
    @apply text-sm font-semibold text-gray-800;
  }
}
